
body{
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
    corner-radius: 0;
}

a
{
    color: #2ABB9B;
}

a:hover{
    color: #36D7B7;
}

.btn-simple
{
    border: 1px solid #2ABB9B;
    background: none;
    color: #2ABB9B;
    padding: 6px 15px;
    border-radius: 0px;
}

.btn-active, .btn-simple:hover{
    background-color: #2ABB9B;
    color: #fff;
}

.btn-active:hover, .btn-simple:hover
{
    background-color: #36D7B7;
    border-color: #36D7B7;
    color: #fff;
}

.input-group input, .input-group button{
    border-radius: 0;
}
/*TOP NAVIGATION BAR*/
.top-nav
{
    padding: 7px 50px;
    border-bottom: solid 1px #ddd;
}

.small-logo{
    float: left;
}

.top-nav .right-nav{
    float: right;
}


/*MAIN NAVIGATION BAR*/

.navbar-simple
{
    border: solid 1px #ddd;
    border-left: none;
    border-right: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.navbar-simple>div
{
    max-width: 1140px;
}

.main-nav::after{
    clear: both;
}

@media (max-width: 600px) {
    .navbar-simple {

    }
}

.navbar-simple .navbar-toggle{
    boder: solid 1px #2ABB9B;
    corner-radius: 0;
}
.navbar-toggle .icon-bar {
    background-color: #2ABB9B;
}

.navbar-nav a
{
    text-transform: uppercase;
    color: #333;
    background: none;
    font-size: 1.15em;
}

.navbar-nav .active a, .navbar-nav .active a:hover, .navbar-simple .navbar-nav a:hover{
    background-color: #36D7B7;
}

.navbar-nav .active a, .navbar-nav a:hover{
    color: #fff;
}

/*HEADER CSS*/
.home-header
{
    position: relative;
    overflow: hidden;
}

.home-header .background-img
{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    margin: 0;
}

.large-search-box
{
    max-width: 860px;
    margin: auto;
    padding: 70px 20px;
}
.large-search-box input, .large-search-box button
{
    height: 48px;
    font-size: 2em;
}
.large-search-box button
{
    font-size: 24px;
}


/*CONTENT*/
.thumbnail
{
    border-radius: 0;
    padding: 0;
    margin-bottom: 30px;
}

.thumbnail .thumb-img
{
    height: 200px;
    overflow: hidden;
    border-bottom: solid 1px #eee;
}

.thumbnail .book-title a
{
    text-transform:capitalize;
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
}

.thumbnail .book-title a:hover{
    color: #36D7B7;
}

/*SINGLE BOOK STYLE*/
.single-book
{
    padding: 40px 0;
}

.single-book .book-meta tr td
{
    border: none;
}
.single-book .book-meta tr td:first-child
{
    font-weight: bolder;
    width: 120px;
}

.single-book .book-title, .download-page .book-title
{
    font-size: 2.5em;
    font-weight: normal;
    color: #2ABB9B;
}

.single-book .book-title
{
    margin: 0 0 20px 0;
    padding-bottom: 20px;
    border-bottom: solid 1px #ddd;
}

.single-book-cover
{
    margin-bottom: 40px;
}
.single-book-cover img
{
    width: 100%
}

.book-description-title
{
    font-size: 2em;
    font-weight: 400;
    color: #2ABB9B;
    border: 1px solid #ddd;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}

.tags
{
    color: #999;
    text-transform: uppercase;
    font-size: 1.15em;
    vertical-align: bottom;
}

.tags .label
{
    border-radius: 0;
    padding: 5px 10px;
    font-weight: 400;
    background: none;
    border: 1px solid #ddd;
}

/*DOWNLOAD PAGE*/

.download-page
{
    text-align: center;
    font-size: 1.15em;
    margin: 20px 0 40px;
}

.download-page .book-title
{
    padding: 0 0 10px;
}

.download-page .timer
{
    font-size: 2.5em;
    color: #8CC152;
    padding: 10px;
    font-weight: bold;
}

.download-page .advertising
{
    margin-top: 30px;
    min-height: 300px;
}
