@font-face {
  font-family: 'Avo';
  src: url("../fonts/UTM_Avo.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Avo';
  src: url("../fonts/UTM_AvoItalic.ttf");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Avo';
  src: url("../fonts/UTM_AvoBold.ttf");
  font-weight: bold; }

@font-face {
  font-family: 'Avo';
  src: url("../fonts/UTM_AvoBold_Italic.ttf");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Dax';
  src: url("../fonts/UTM_Dax.ttf");
  font-weight: normal; }

@font-face {
  font-family: 'Dax';
  src: url("../fonts/UTM_DaxBold.ttf");
  font-weight: bold; }

.content-bottom-ads {
  margin-bottom: 28px; }

.content-top-ads img, .content-bottom-ads img {
  max-height: 97px; }

.content-top-ads img:first-child, .content-bottom-ads img:first-child {
  margin-right: 8px; }

.main-content {
  padding: 28px 0 14px 0; }
  .main-content .posts, .main-content .sidebar {
    float: left; }
  .main-content .posts {
    width: 586px; }
    .main-content .posts::after {
      content: "";
      display: table;
      clear: both; }
    .main-content .posts .post {
      width: 186px;
      margin-right: 14px;
      float: left; }
      .main-content .posts .post .feature-img {
        overflow: hidden; }
        .main-content .posts .post .feature-img img {
          max-height: 125px; }
      .main-content .posts .post .title {
        text-transform: none;
        margin-top: 7px; }
      .main-content .posts .post .excertp {
        height: 64px;
        overflow: hidden;
        text-overflow: ellipsis; }
      .main-content .posts .post .footer {
        margin-top: 22px;
        border-top: solid 1px RGB(89, 167, 185);
        text-align: right; }
        .main-content .posts .post .footer .readmore-btn {
          text-transform: uppercase;
          font-size: 14px; }
    .main-content .posts .post:nth-child(3n) {
      margin-right: 0; }
    .main-content .posts .post:nth-child(n+4) {
      margin-top: 46px; }
  .main-content .sidebar {
    width: 178px;
    margin-left: 20px; }
    .main-content .sidebar .widget {
      width: 100%;
      padding: 0;
      position: relative; }
      .main-content .sidebar .widget .btn-group-absolute {
        position: absolute;
        bottom: 22px;
        left: 0;
        width: 100%;
        text-align: center; }
    .main-content .sidebar .widget:nth-child(n+2) {
      margin-top: 15px; }
    .main-content .sidebar .bordered-widget {
      border: solid 2px RGB(89, 167, 185); }
    .main-content .sidebar .ebook {
      color: #fff;
      height: 308px;
      padding: 22px; }
      .main-content .sidebar .ebook .title {
        line-height: 1.5em; }
    .main-content .sidebar .subscribe {
      height: 250px;
      padding: 22px; }
      .main-content .sidebar .subscribe .title-sm, .main-content .sidebar .subscribe .title-lg {
        color: RGB(89, 167, 185); }
      .main-content .sidebar .subscribe .title-lg {
        font-size: 26px; }
      .main-content .sidebar .subscribe .title-sm {
        font-size: 17px; }
    .main-content .sidebar .slide {
      height: 302px;
      padding: 10px; }
      .main-content .sidebar .slide header {
        background: none;
        color: RGB(77, 77, 77); }
        .main-content .sidebar .slide header::after {
          content: "";
          display: table;
          clear: both; }
        .main-content .sidebar .slide header img, .main-content .sidebar .slide header .title {
          float: left; }
        .main-content .sidebar .slide header img {
          max-width: 66px; }
        .main-content .sidebar .slide header .title {
          width: 88px;
          padding-left: 7px;
          text-transform: none;
          font-size: 12px;
          line-height: 1.5em; }
      .main-content .sidebar .slide .store {
        margin-top: 15px; }
        .main-content .sidebar .slide .store::after {
          content: "";
          display: table;
          clear: both; }
        .main-content .sidebar .slide .store .btn {
          width: 64px;
          margin-left: 10px;
          font-size: 9px;
          padding: 3px 0;
          text-align: center; }
        .main-content .sidebar .slide .store .store-logo, .main-content .sidebar .slide .store .product-price {
          display: inline-block; }
        .main-content .sidebar .slide .store .store-logo img {
          max-width: 76px; }
        .main-content .sidebar .slide .store .product-price {
          vertical-align: middle; }

.pagination-section {
  margin: 20px 0 0 0;
  padding: 0px; }
  .pagination-section .pagination-col, .pagination-section .support-col {
    float: left; }
  .pagination-section .pagination-col {
    width: 428px;
    margin-right: 10px; }
    .pagination-section .pagination-col .pagination-row {
      width: 244px;
      border: solid 2px RGB(89, 167, 185);
      text-align: center;
      padding: 10px; }
      .pagination-section .pagination-col .pagination-row .pagination {
        margin: 0; }
        .pagination-section .pagination-col .pagination-row .pagination li > a {
          border: none;
          font-weight: bold;
          font-size: 14px; }
      .pagination-section .pagination-col .pagination-row .btn-next {
        font-weight: normal;
        font-size: 14px;
        padding: 3px 24px; }
    .pagination-section .pagination-col .ads-row {
      margin-top: 20px; }
      .pagination-section .pagination-col .ads-row img {
        max-width: 100%;
        height: 98px; }
  .pagination-section .support-col {
    position: relative;
    width: 348px;
    border: solid 2px RGB(89, 167, 185);
    padding: 15px; }
    .pagination-section .support-col .illus-img {
      position: absolute;
      bottom: 10px;
      right: 10px;
      max-width: 100px; }
  @media screen and (max-width: 480px) {
    .pagination-section .pagination-col, .pagination-section .pagination-col {
      width: 100%; } }

.products {
  margin-top: 16px;
  margin-bottom: 30px !important;
  padding: 0; }
  .products .product-bound {
    padding: 0; }
  .products .product-bound:first-child {
    padding-right: 7px; }
  .products .product-bound:last-child {
    padding-left: 7px; }
  .products .product {
    position: relative;
    height: 360px;
    padding: 22px !important;
    border: solid 2px RGB(89, 167, 185);
    margin-right: -1px; }
    .products .product .header .title, .products .product .header .action-btn {
      text-transform: uppercase;
      color: RGB(77, 77, 77);
      font-size: 18px;
      font-weight: bold; }
    .products .product .header .title {
      margin-top: 0; }
    .products .product .header .action-bar {
      position: relative;
      height: 50px;
      margin-right: -22px;
      background-color: RGB(89, 167, 185); }
      .products .product .header .action-bar .action-logo, .products .product .header .action-bar .action-btn {
        float: left; }
      .products .product .header .action-bar .action-logo img {
        height: 50px; }
      .products .product .header .action-bar .action-btn {
        margin: 10px 0 10px 10px;
        background-color: RGB(237, 31, 36);
        padding: 0 12px 3px 12px;
        line-height: 24px;
        color: #fff; }
      .products .product .header .action-bar .author-avatar {
        position: absolute;
        bottom: 0;
        right: 18px; }
        .products .product .header .action-bar .author-avatar img {
          max-width: 105px;
          max-height: 100px; }
    .products .product .description {
      margin: 12px 0; }
    .products .product .checkout-bar {
      position: absolute;
      bottom: 22px;
      left: 0;
      width: 100%;
      height: 60px; }
      .products .product .checkout-bar .checkout-btn, .products .product .checkout-bar .provider-logo {
        position: absolute;
        bottom: 0; }
      .products .product .checkout-bar .checkout-btn {
        left: 22px;
        padding: 2px 14px 3px 42px;
        font-size: 14px;
        text-transform: uppercase; }
      .products .product .checkout-bar .provider-logo {
        right: 22px; }
        .products .product .checkout-bar .provider-logo img {
          height: 60px; }
