.redlink {
  color: #bb3914; }
  .redlink:hover {
    color: #3a4276; }

body,
html {
  height: 100%; }

body,
button,
html,
input,
li,
option,
p,
select,
ul {
  font-size: 14px;
  color: #666; }

a {
  cursor: pointer; }

.top-menu {
  text-align: center; }
  .top-menu .navbar-center {
    float: none;
    display: inline-block; }
    .top-menu .navbar-center li:not(:first-child) {
      margin-left: 39px; }
    .top-menu .navbar-center li > a {
      text-transform: uppercase;
      font-weight: bold; }

.single-page {
  background: #aaa; }

.btn-il {
  position: relative;
  padding: 6px 12px 6px 34px; }
  .btn-il i {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    line-height: 34px;
    vertical-align: middle; }

.btn-addon i {
  margin: -7px 12px -7px -12px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
  position: relative;
  border-radius: 2px 0 0 2px; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.content-wrapper > .row {
  padding: 15px; }

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute; }

.custom-check, input[type=checkbox] + label,
input[type=radio] + label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer; }

.custom-check-checked, input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  background: #4E92DF;
  border-color: #4E92DF;
  box-shadow: inset 0 0 0 4px #fff; }

.custom-check-before, input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: '';
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center; }

input[type=radio] + label:before {
  border-radius: 50%; }

#flex-overlay {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  display: none; }

.popup {
  z-index: 2000;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto; }
  .popup .popup-wrapper {
    position: relative;
    margin: 30px auto; }
    .popup .popup-wrapper .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      padding: 0; }

.tab-center {
  text-align: center; }
  .tab-center > li {
    float: none;
    display: inline-block; }

.app-container {
  width: 1024px !important;
  padding: 0; }

header .banner {
  max-height: 100px;
  background-color: #FED001; }
  header .banner img {
    height: 100%;
    margin: 0 auto; }

.main-menu {
  background-color: #BC350F; }
  .main-menu .menu {
    width: 100%; }
  .main-menu .navbar-nav li {
    border-left: solid 1px #eb4213;
    border-right: solid 1px #8d280b; }
    .main-menu .navbar-nav li:first-child {
      border-left: 0; }
    .main-menu .navbar-nav li:last-child {
      border-right: 0; }
    .main-menu .navbar-nav li a {
      padding: 10px 8px;
      font-weight: bold;
      color: #fff; }
      .main-menu .navbar-nav li a:active, .main-menu .navbar-nav li a:focus {
        background-color: inherit; }
      .main-menu .navbar-nav li a:hover {
        background-color: #A42E0B; }
    .main-menu .navbar-nav li.active a {
      background-color: #A42E0B; }

.footer {
  border-top: solid 3px #FED001;
  margin-top: 30px;
  padding: 20px 0 40px;
  line-height: 1.5em; }
  .footer .column {
    padding-left: 30px; }
    .footer .column:first-child {
      border-right: dotted 1px #ddd;
      padding-right: 30px;
      padding-left: 15px; }
  .footer .address .address-item {
    margin-top: 7px; }
    .footer .address .address-item .icon {
      width: 25px;
      height: 25px;
      display: inline-block;
      line-height: 25px;
      margin-right: 10px;
      text-align: center;
      background: #39CCCC;
      color: #fff;
      font-size: 16px; }

.wrapper {
  height: auto; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

hr.sep {
  width: 100%;
  height: 3px;
  border-top: solid 3px #FED001; }

.angle-list {
  padding: 10px;
  list-style: none; }
  .angle-list li {
    margin: 3px 0 3px 15px; }
    .angle-list li:before {
      display: inline-block;
      content: "\f0da";
      margin-left: -15px;
      font-family: FontAwesome;
      color: #f9af00;
      width: 10px; }

.widget {
  border: solid 1px #ddd;
  margin-bottom: 15px; }
  .widget .widget-header {
    font-weight: bold;
    text-transform: uppercase;
    color: #f9af00;
    border-left: solid 3px #f9af00;
    padding: 7px 15px; }
  .widget .widget-body {
    padding: 15px; }
